<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Informasi Backend</title>
</head>
<body>
<section layout:fragment="content">
    <h2>Informasi Backend</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <tr th:each="info : ${hostInfo}">
                <td th:text="${info.key}">Hostname</td>
                <td th:text="${info.value}">Hostname</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>